<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
  <meta name="generator" content="Hugo 0.104.2" />
  <title>KeySchool</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/" />
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="/index.css" />
  <!--express 사용시 css파일이 안 불러와져서 일단 style태그에 다 넣어뒀음 (박성완)-->
  <link href="assets/dist/css/bootstrap.min.css" rel="stylesheet" />
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, 0.1);
      border: solid rgba(0, 0, 0, 0.15);
      border-width: 1px 0;
      box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
        inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -0.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }

    html,
    body {
      height: 100%;
    }

    body {
      display: flex;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #f5f5f5;
    }

    .form-signin {
      max-width: 330px;
      padding: 15px;
    }

    .form-signin .form-floating:focus-within {
      z-index: 2;
    }

    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  </style>
</head>

<body class="text-center">
  <main class="form-signin w-100 m-auto">
    <form>
      <h1 class="h3 mb-3 fw-normal">Log in</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" />
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" /> Remember me
        </label>
      </div>
    </form>
    <button class="w-100 btn btn-lg btn-primary" onclick="click_sign_in();" style="margin-bottom: 5px;" id="submit">
      Sign in
    </button>
    <button class="w-100 btn btn-lg btn-secondary" onclick="location.href='/register'">
      Register
    </button>
  </main>
</body>
<script src="https://www.gstatic.com/firebasejs/9.14.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.14.0/firebase-firestore-compat.js"></script>
<script src="//cdn.jsdelivr.net/npm/simple-crypto-js@2.5.0/dist/SimpleCrypto.min.js"></script>
<script>
  //const bcrypt = require('bcrypt');
    // Import the functions you need from the SDKs you need
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyAEGuIFzQ6MHzVBiq6Q0IgEypC_GwM4eEA",
      authDomain: "ise-team4.firebaseapp.com",
      projectId: "ise-team4",
      storageBucket: "ise-team4.appspot.com",
      messagingSenderId: "526463390715",
      appId: "1:526463390715:web:8dbf9d0a817049fe89715e",
      measurementId: "G-BT0FWC8KQV"
    };

    // Initialize Firebase
    const app = firebase.initializeApp(firebaseConfig);
    const db = app.firestore();
    db.settings({ timestampsInSnaphots:true});

    db.collection('accounts').add({
      name: ""
    })
    db.collection('accounts').where('name',"==",'').get().then(function(snapshot){
      snapshot.forEach(function(doc){
        doc.ref.delete();
      })
    });
  async function click_sign_in() {
    console.log("click!");
    simpleCrypto = new SimpleCrypto("crypto key")
    let skkuid_input = document.getElementById("floatingInput").value;
    let password_input = document.getElementById("floatingPassword").value;

    let password_match = true
    //db에서 저장되어 있는 암호화된 비밀번호를 가져와서 복호화 하고 내가 지금 입력한 비밀번호와 대조해본다
    await db.collection('accounts').where('skkuid',"==",skkuid_input).get().then((snapshot)=>{
      pw = snapshot.docs[0]._delegate._document.data.value.mapValue.fields.skkupw.stringValue
      // 암호 복호화
      if (password_input == simpleCrypto.decrypt(pw))
      {
        password_match = true
      }
      else 
      {
        password_match = false
      }
    })
    // DB에 계정이 있으면 ture로 설정, 없으면 false
    // false일 경우 로그인 실패 Alert 띄우기
    //db에서 id pw 일치하는지 확인하기
    await db.collection('accounts').where('skkuid',"==",skkuid_input).get().then((snapshot)=>{
        if(!snapshot.empty && password_match){//로그인 성공,db에 존재함
            const context = snapshot.docs[0].data();
            fetch("/login", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(context),
            });
            location.href = '/calendar'
        }//else문 추가후 로그인 실패 alert띄우기    
      })
  }   
</script>
</html>
